@model IEnumerable<Help.Model.CoSoKhamBenh>

@{
    ViewBag.Title = "Cơ sở khám bệnh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    
@*<div class="box-body table-responsive">
    <table class="tabCoSoKham table table-bordered table-striped">
        <thead>
            <tr>
                <th>Rendering engine</th>
                <th>Browser</th>
                <th>Platform(s)</th>
                <th>Engine version</th>
                <th>CSS grade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Trident</td>
                <td>Internet
                    Explorer 4.0</td>
                <td>Win 95+</td>
                <td> 4</td>
                <td>X</td>
            </tr>
            <tr>
                <td>Trident</td>
                <td>Internet
                    Explorer 5.0</td>
                <td>Win 95+</td>
                <td>5</td>
                <td>C</td>
            </tr>
        </tbody>
    </table>

</div>*@
<div class="box-body table-responsive">

    <table class="tabCoSoKham table table-bordered table-striped">
        <thead>
            <tr>
                <th> @Html.DisplayNameFor(model => model.TenCS)</th>
                <th>@Html.DisplayNameFor(model => model.LoaiCoSo)</th>
                <th> @Html.DisplayNameFor(model => model.LoaiDieuTri)</th>
                <th> @Html.DisplayNameFor(model => model.NguoiTao)</th>
                <th> @Html.DisplayNameFor(model => model.NgayTao)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TenCS)</td>
                    <td>@Html.DisplayFor(modelItem => item.LoaiCoSo)</td>
                    <td>@Html.DisplayFor(modelItem => item.LoaiDieuTri)</td>
                    <td>@Html.DisplayFor(modelItem => item.NguoiTao)</td>
                    <td>@Html.DisplayFor(modelItem => item.NgayTao)</td>
                    
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                        @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                        @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                    </td>
                </tr>
            }
            
        </tbody>
        
    </table>
</div>


@section Scripts {
    <script src="~/Scripts/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Scripts/plugins/datatables/dataTables.bootstrap.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $(".tabCoSoKham").dataTable();
           
        });
    </script>
}
       